<!DOCTYPE html>
<html lang="en">
<head>
    <title>NovelPlanner 1.0.2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="../characters/patch" method="POST">
    <p>Let's add a character.</p>
    <div>
        <label for="id">id:</label>
        <input name="id" id="id" value="66">
    </div>
    <div>
        <label for="firstName">First name:</label>
        <input name="first" id="firstName" value="Sexy ">
    </div>
    <div>
        <label for="lastName">Last name:</label>
        <input name="last" id="lastName" value="Six">
    </div>
    <div>
        <label for="sex">sex:</label>
        <input name="sex" id="sex" onkeyup="this.value = this.value.toUpperCase();">
    </div>
    <div>
        <label for="role">role:</label>
        <input name="role" id="role" onkeyup="this.value = this.value.toUpperCase();">
    </div>
    <div>
        <label for="mother">mother:</label>
        <input name="mother" id="mother" value="13">
    </div>
    <div>
        <label for="father">father:</label>
        <input name="father" id="father" value="10">
    </div>
    <div>
        <button>update character</button>
    </div>
</form>

<form action="character-list.html" method="GET">
    <button>List characters</button>
    <output name="charID" for="id"></data></output>
</form>
<!--<button>
    <a href="character-id.html">character search</a>
</button>-->
<form action="../characters/patch-character.html" method="GET">
    <button>Patch character</button>
    <label id="patch">ID</label>
    <output name="patchId" for="patch"></data></output>
</form>
</body>
</html>

